################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs/Blacklight.Controls.Wpf/v16
/.vs/Blacklight.Controls.Wpf/DesignTimeBuild
